@font-face {
    font-family: 'Poppins';
    src: url('./fontfamily/Poppins-Regular.ttf'),
         url('./fontfamily/Poppins-Medium.ttf'),
         url('./fontfamily/Poppins-SemiBold.ttf');
}

:root{
    --body-font: 'Poppins', sans-serif;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;


    /* hsl(213, 49%, 62%) */
    --hue: 213;
    --sat: 49%;
    --lig: 62%;
    --first-color: hsl(var(--hue), var(--sat), var(--lig));
    --first-color-alt: hsl(var(--hue), var(--sat), calc(var(--lig) - 4%));
    --title-color: hsl(var(--hue), 12%, 95%);
    --text-color: hsl(var(--hue), 12%, 75%);
    --text-color-light: hsl(var(--hue), 8%, 75%);
    --text-color-lighten: hsl(var(--hue), 8%, 92%);
    --body-color: hsl(var(--hue), 40%, 8%);
    --container-color: hsl(var(--hue), 24%, 12%);
}


@media screen and (min-width: 968px) {
    :root {
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .3s;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: 600;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

svg{
    width: 1.25rem;
    height: 1.25rem;
}

i{
    font-size: 1.25rem;
}

.container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

header {
    position: relative;
    height: 50px;
}


/* ===== THEME BUTTON ==== */
.change-theme {
    position: absolute;
    top: 1.5rem;
    right: 0;
    font-size: 1.25rem;
    font-size: 1.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: .3s;
}

.change-theme:hover {
    color: var(--first-color);
}


/* ===== VARIABLES OF DARK THEME ===== */
body.light-theme {
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 12%, 45%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #fff;
}

.light-theme .filters__content {
    background-color: var(--text-color-lighten);
}

.light-theme::-webkit-scrollbar {
    background-color: hsl(var(--hue), 8%, 66%);
}

.light-theme::-webkit-scrollbar-thumb {
    background-color: hsl(var(--hue), 8%, 54%);
}

.light-theme::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--hue), 8%, 44%);
}


/* ===== PROFILE ===== */
main {
    position: relative;
    padding-top: 3.5rem;
}

.profile {
    row-gap: 2rem;
}

.profile__data {
    display: grid;
    text-align: center;
}

.profile__photo {
    width: 100px;
    height: 100px;
    background: linear-gradient(180deg,
                                hsla(var(--hue), var(--sat), var(--lig), 1) 0%,
                                hsla(var(--hue), var(--sat), var(--lig), .2) 100%);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.profile__photo img {
    width: 90px;
}

.profile__border {
    border: 3.5px solid var(--first-color);
    justify-self: center;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: .75rem;
}

.profile__name {
    font-size: var(--h2-font-size);
}

.profile__profession {
    font-size: var(--h3-font-size);
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.profile__social {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

.profile__social-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
}

.profile__social-link:hover {
    color: var(--first-color);
}

.profile__about {
    font-size: var(--normal-font-size);
    margin-bottom: .25rem;
    text-align: center;
}

.profile__about p {
    margin-bottom: 1rem;
}

.profile__cv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__cv-button{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--first-color);
    color: #fff;
    padding: 1.15rem 1.5rem;
    border-radius: .5rem;
    transition: .3s;
    box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), .25);
}


/* ===== Buttons ===== */
.button {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--first-color);
    color: #fff;
    padding: 1.15rem 1.5rem;
    border-radius: .5rem;
    transition: .3s;
    box-shadow: 0 8px 24px hsla(var(--hue), var(--sat), var(--lig), .25);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__small {
    padding: .75rem;
    box-shadow: none;
}

.button__gray {
    background-color: var(--text-color-lighten);
    color: var(--title-color);
}

.button__gray:hover {
    background-color: var(--text-color-light);
}


/*  ===== FILTER TABS =====  */
.filters__content {
    margin: 2rem 0 2.5rem;
    /* background-color: var(--text-color-lighten); */
    background-color: var(--text-color);
    padding: 0.375rem;
    border-radius: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
}

.filters__button {
    width: 100%;
    max-width: 105px;
    border: none;
    outline: none;
    padding: 1rem;
    color: var(--title-color);
    font-size: var(--small-font-size);
    font-family: var(--body-font);
    font-weight: 500;
    border-radius: .75rem;
    cursor: pointer;
    background-color: transparent;
    transition: .3s;
}

.filters__button:hover{
    background-color: var(--body-color);
}


/* ===== PROJECTS ===== */
.projects__card {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    height: 350px;
}

.projects__img {
    width: 100%;
    height: auto;
}

.projects__img.landscape {
    width: auto;
    height: 100%;
}

.projects__modal {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    background: linear-gradient(180deg,
                                hsla(var(--hue), 24%, 40%, .3) 0%,
                                hsla(var(--hue), 24%, 4%, 1) 95%);
    display: grid;
    align-items: flex-end;
    padding: 1.5rem 1.25em;
    transition: .3s;
}

.projects__subtitle,
.projects__title {
    color: #fff;
}

.projects__subtitle {
    font-size: var(--smaller-font-size);
}

.projects__title {
    font-size: var(--h3-font-size);
}

.projects__technologies {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .75rem;
}

.projects__link {
    display: flex;
    justify-content: space-between;
}

.projects__button {
    padding: .5rem;
}

.projects__card:hover .projects__modal{
    bottom: 0;
}


/* ===== SKILLS ===== */
.skills__content {
    row-gap: 3.5rem;
}

.skills__title {
    font-size: var(--h3-font-size);
    text-align: center;
    margin-bottom: 1.5rem;
}

.skills__box {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
}

.skills__groups {
    display: grid;
    align-content: flex-start;
    row-gap: 1rem;
}

.skills__data {
    display: flex;
    column-gap: .5rem;
}

.skills__data i {
    font-size: 1rem;
    color: var(--first-color) ;
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: 500;
    line-height: 18px;
}

.skills__level {
    font-size: var(--smaller-font-size);
}


/* ===== FILTERS ===== */
.filters [data-content] {
    display: none;
}

.filters__active[data-content] {
    display: grid;
}

.filters-tab-active {
    background-color: var(--body-color);
}


/* ===== FOOTER ===== */
.footer__copy {
    display: block;
    margin: 2.5rem 0 2rem;
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}


/* ===== SCROLL BAR ===== */
::-webkit-scrollbar {
    width: 0.6rem;
    border-radius: .5rem;
    background-color: hsl(var(--hue), 8%, 16%);
}
::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: hsl(var(--hue), 8%, 24%);
}
::-webkit-scrollbar-thumb:hover {
    border-radius: .5rem;
    background-color: hsl(var(--hue), 8%, 32%);
}


/* ===== BREAKPOINTS ===== */
@media screen and (max-width: 320px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .skills__box {
        column-gap: 1rem;
    }
}

@media screen and (min-width: 576px) {
    .projects__content {
        grid-template-columns: 332px;
        justify-content: center;
    }

    .filters__content {
        width: 332px;
        margin: 3rem auto;
    }
}

@media screen and (min-width: 776px) {
    .projects__content,
    .skills__content {
        grid-template-columns: repeat(2, 332px);
    }

    .filters__content {
        width: 500px;
        margin: 3rem auto;
    }

    .skills__content {
        justify-content: center;
        column-gap: 3rem;
    }
}

@media screen and (min-width: 992px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .change-theme {
        top: 2.5rem;
        right: 2.5rem;
    }

    main {
        padding-top: 4rem;
    }

    .profile__border {
        width: 135px;
        height: 135px;
        margin-bottom: 1rem;
    }

    .profile__photo {
        width: 120px;
        height: 120px;
    }

    .profile__photo img {
        width: 105px;
    }

    .profile__profession {
        margin-bottom: 1.5rem;
    }

    .projects__content {
        gap: 2rem 3rem;
    }

    .projects__modal {
        padding: 1.5rem;
    }

    .skills__title {
        font-size: var(--normal-font-size);
        margin-bottom: 2.5rem;
    }

    .footer__copy{
       margin: 4rem 0 2.5rem;
    }
}